#footerElem {
  /* background-image: url("./../Image/footerBackground.jpg"); */
  background-size: cover;
  background-position: top;
}

.socialMedia:hover {
  transform: scale(1.5, 1.5);
  transition: all 0.5s ease;
  cursor: pointer;
}
.border-bottom {
  border: unset;
}
.border-bottom::placeholder {
  color: white;
}
@media screen and (min-width: 991.5px) {
  .phone {
    display: inline;
    width: 45%;
  }
  .email {
    display: inline;
    width: 45%;
    float: right;
  }
}
#scrollTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 999 !important;
  background-color: tomato;
  color: white;
  border-radius: 50%;
}
